* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sansation", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 135px;
}

section {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  border-radius: 8px;
  box-shadow: -4px 4px 14px grey;
  width: 100%;
  max-width: 400px;
  align-self: center;
}
form h1 {
  font-size: 18px;
  font-weight: 300;
  border-bottom: #F3EDED solid 3px;
}
form .labels {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}
form .labels label {
  text-align: center;
}
form .labels input {
  border: 0;
  outline: none;
  border-bottom: #F3EDED solid 3px;
}
form button {
  background: #F3EDED;
  height: 40px;
  width: 100%;
  max-width: 352px;
  border-radius: 30px;
  border: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
form button:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

footer {
  padding: 30px 20px;
  background: #F3EDED;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: clamp(20px, 10vw, 130px);
}
footer .footerleft {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footerleft .socweb {
  align-items: center;
}
footer .footerleft .socweb a:hover {
  opacity: 0.6;
}
footer .footerleft .footerlogo {
  display: flex;
  align-items: center;
  gap: 0px;
  text-decoration: none;
  color: #000;
}
footer .footerleft .footerlogo h1 {
  font-family: "Jaro", sans-serif;
  font-weight: lighter;
  font-size: 48px;
  margin: 0;
}
footer .footerleft .footerlogo svg {
  height: 45px;
  width: auto;
}
footer .footerleft p {
  color: #A1ABB9;
}
footer .footerleft div {
  display: flex;
  min-width: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .upper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .upper .mainp {
  color: #A1ABB9;
}
footer .upper a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  transition: transform 0.2s ease;
}
footer .upper a:hover {
  opacity: 0.6;
}
footer .upper div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  footer {
    flex-wrap: wrap;
    gap: clamp(20px, 5vw, 50px);
  }
  footer p {
    font-size: 12px;
  }
  footer .footerleft .footerlogo h1 {
    font-size: 38px;
    margin: 0;
  }
  footer .footerleft .footerlogo svg {
    height: 35px;
    width: auto;
  }
  footer .footerleft div {
    gap: 20px;
  }
  footer .upper a {
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  footer {
    flex-direction: column;
  }
}
header {
  background: #F3EDED;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
header nav {
  height: 23px;
}
header nav ul a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  text-align: center;
  transition: opacity 0.2s ease;
}
header nav ul a:hover {
  opacity: 0.6;
}
header nav ul a.active {
  font-weight: 700;
}
header nav ul {
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}
header button {
  display: none;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 0px;
  text-decoration: none;
  color: #000;
}
header .logo p {
  font-family: "Jaro", sans-serif;
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}
header .logo svg {
  height: 45px;
  width: auto;
}

@media (max-width: 768px) {
  header .logo h1 {
    font-size: 38px;
  }
  header .logo svg {
    height: 35px;
  }
  nav ul {
    font-size: 12px;
    gap: 20px;
  }
  nav ul li {
    font-size: clamp(10px, 3vw, 14px);
  }
  .models {
    gap: 50px;
  }
  .models a {
    border-radius: 25px;
  }
  .models a p {
    font-size: 11px;
    text-align: center;
  }
}
@media (max-width: 426px) {
  header {
    flex-direction: row;
    padding: 10px 20px;
    gap: 0;
  }
  header .logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  header button {
    display: block;
    font-size: 30px;
    background: none;
    border: none;
    margin-left: auto;
  }
  header nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: #fff;
    transition: top 0.4s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  header nav.active {
    top: 0;
  }
  header nav .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 30px;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  header nav ul li {
    margin: 10px 0;
  }
  header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
}/*# sourceMappingURL=form.css.map */